{% extends "base.html" %}
{% load humanize %}
{% block contents %}
<div class="row mt-5">
    <div class="col-12">
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">구매자명</th>
                    <th scope="col">구매한 상품</th>
                    <th scope="col">수량</th>
                    <th scope="col">구매일시</th>
                </tr>
            </thead>
            <tbody class="text-dark">
                {% for order in order_list %}
                <tr>
                    <th scope="row">{{ order.id }}</th>
                    <th scope="row">{{ order.user }}</th>
                    <th scope="row">{{ order.product }}</th>
                    <th scope="row">{{ order.quantity|intcomma }}개</th>
                    <th scope="row">{{ order.register_date|date:'y년 m월 d일'}}</th>
                </tr>
                {% endfor %}
            </tbody>
                
            </thread>
        </table>
    </div>
</div>

{% endblock %}
