{% extends "base.html" %}
{% load humanize %}

{% block header %}
<script>
    function product_detail(id){
        $.ajax({
            url: "/api/product/" + id,
            success: function (result) {
                console.log(result);
                $("#product-"+id).popover({
                    html: true,
                    content: result.name + "<br/>" + result.price
                }).popover('show');
            }
        });
    }
    function product_leave(id){
        $("#product-" + id).popover('hide');
    }
    // 이 페이지가 로딩이 끝나면 아래 함수를 호출해달라는 뜻
    $(document).ready(function () {
        $.ajax({
            url: "/api/product/",
            success: function (result) {
                console.log(result);
            }
        });
    });
</script>
{% endblock %}
{% block contents %}
<div class="row mt-5">
    <div class="col-12">
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">상품명</th>
                    <th scope="col">가격</th>
                    <th scope="col">등록날짜</th>
                </tr>
            </thead>
            <tbody class="text-dark">
                {% for product in product_list %}
                <tr>
                    <th scope="row">{{ product.id }}</th>
                    <th scope="row"><a id="product-{{ product.id }}" onmouseenter="product_detail({{ product.id }});" onmouseleave="product_leave({{ product.id }})
                        " href="/product/{{ product.id }}">{{ product.name }}</a></th>
                    <th scope="row">{{ product.price|intcomma }}원</th>
                    <th scope="row">{{ product.register_date|date:'y년 m월 d일'}}</th>
                </tr>
                {% endfor %}
            </tbody>

            </thread>
        </table>
    </div>
</div>

{% endblock %}